<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>

<body class="text-left">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: 80px;">
        <div class="container"><img src="static/assets/img/TKX%20Logo.png" style="width: 104px;"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('match')}}" style="font-family: Roboto, sans-serif;">Match</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('training')}}" style="font-family: Roboto, sans-serif;">Training</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('Bprofile')}}" style="font-family: Roboto, sans-serif;">Get Help</a></li>
                    <li class="nav-item dropdown" style="margin-top: 5px;"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="margin-top: -6px;font-family: Roboto, sans-serif;font-size: 12.8px;margin-left: 0px;color: rgb(59,156,248);">Thayallan Srinanthan</a>
                        <div class="dropdown-menu"
                            role="menu"><a class="dropdown-item" role="presentation" href="{{url_for('profile')}}">Profile</a><a class="dropdown-item" role="presentation" href="#">Settings</a><a class="dropdown-item" role="presentation" href="#">Tell Friends</a><a class="dropdown-item" role="presentation"
                                href="{{url_for('login')}}" style="color: rgb(59,156,248);">Log Out</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-form dark" style="height: 953px;">
            <div id="wrapper">
                <div class="d-flex flex-column" id="content-wrapper">
                    <div id="content" style="margin: 50px;margin-top: 50px;">
                        <div class="container-fluid">
                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="card mb-3">
                                        <div class="card-body text-center shadow" style="margin-top: 0px;">
                                            <p class="text-center" style="color: rgb(0,123,255);min-height: 4px;margin-bottom: -8px;"><strong>Profile</strong></p><img class="rounded-circle mb-3 mt-4" src="static/assets/img/avatars/avatar555.jpg" width="170" height="160" style="margin-top: 27px;min-height: 0px;margin-right: -3px;margin-bottom: 18px;margin-left: 0px;padding-top: -4px;max-height: 159px;height: 170px;">
                                            <p><strong>Thayallan Srinanthan&nbsp;</strong></p>
                                            <p style="margin-top: -18px;font-size: 12px;color: rgb(67,155,248);"><em>8 Employees Hired&nbsp;</em></p>
                                            <p style="margin-top: -12px;">Senior Engineer&nbsp;</p>
                                            <p style="margin-top: -12px;">Github&nbsp;</p>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" style="margin-top: -12px;">Edit Profile &nbsp;</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row mb-3 d-none">
                                        <div class="col">
                                            <div class="card text-white bg-primary shadow">
                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col">
                                                            <p class="m-0">Peformance</p>
                                                            <p class="m-0"><strong>65.2%</strong></p>
                                                        </div>
                                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                                    </div>
                                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card text-white bg-success shadow">
                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col">
                                                            <p class="m-0">Peformance</p>
                                                            <p class="m-0"><strong>65.2%</strong></p>
                                                        </div>
                                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                                    </div>
                                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow mb-3">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 font-weight-bold">Applicants&nbsp;</p>
                                                </div>
                                                <div class="card-body">
                                                    <form class="text-left" style="height: 316px;margin-left: 17px;margin-top: -10px;width: 625px;max-width: 800px;">
                                                        <div class="form-group" style="margin-top: -18px;"><label for="address" style="margin-top: -4px;margin-bottom: 7px;"><strong>Students</strong><br></label><input class="form-control" type="text" placeholder="Billy Nye " name="address"><input class="form-control"
                                                                type="text" placeholder="Thomas Bianco " name="address" style="margin-top: 10px;"><input class="form-control" type="text" placeholder="Will Lancaster" name="address" style="margin-top: 8px;">
                                                            <input
                                                                class="form-control" type="text" placeholder="Mark Russ" name="address" style="margin-top: 10px;"><input class="form-control" type="text" placeholder="Ashley Becker" name="address" style="margin-top: 10px;"></div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="card shadow">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 font-weight-bold">Active Students&nbsp;</p>
                                                </div>
                                                <div class="card-body">
                                                    <form class="text-left" style="height: 327px;margin-left: 17px;width: 625px;min-height: 2px;max-width: 625px;margin-top: -7px;margin-bottom: -8px;">
                                                        <div class="form-group" style="margin-top: -17px;"><label for="address"><strong>Students</strong><br></label><input class="form-control" type="text" placeholder="Vishanth Thanga" name="address">
                                                        </div><a href="{{url_for('Bprofile')}}"><button class="btn btn-primary"  type="button" style="font-size: 18px;">Connect with your Student</button></a></form></div>
                                                        </div>
                                                         
                                                        <!--
                                                        <div>
                                                            <input class="form-control" type="text" placeholder="Bill Atta"
                                                                name="address" style="margin-top: 10px;"><input class="form-control" type="text" placeholder="Navid Nathoo" name="address" style="margin-top: 10px;"><input class="form-control" type="text" placeholder="Nadeem Nao"
                                                                name="address" style="margin-top: 10px;"></div><input class="form-control" type="text" placeholder="Tanya Puo" name="address" style="margin-top: 10px;"></form>
                                                </div>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="background-color: #2b2f31;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>TKX</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Students</strong></h5>
                    <ul>
                        <li><a href="#" style="color: #d2d1d1;">How it Works</a></li>
                        <li><a href="#">Learn with TKX</a></li>
                        <li><a href="#">View Businesses</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Businesses</strong><br></h5>
                    <ul>
                        <li><a href="https://genm.co/business">Access talent pool</a></li>
                        <li><a href="#">Trust &amp; safety</a></li>
                        <li><a href="#">Smart Marketing</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Programs</h5>
                    <ul>
                        <li><a href="#">Social Media Marketing</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Front End Development</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>