<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: 80px;">
        <div class="container"><img src="static/assets/img/TKX%20Logo.png" style="width: 104px;"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="BUSlogin.html" style="color: rgb(59,153,224);">REGISTER</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>Employer Registration</strong></h2>
                    <p>Get the job of your dreams with free courses and digital apprenticeships.</p>
                </div>
                <form>
                    <div class="form-group"><label for="first_name">First Name<input class="form-control" type="text" style="width: 420px;" name="first_name"></label></div>
                    <div class="form-group"><label for="first_name">Last Name</label><input class="form-control" type="text" style="width: 420px;" name="last_name"></div>
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control" type="password" id="password"></div>
                    <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
                    </div><button class="btn btn-primary btn-block" type="submit">Log In</button></form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="background-color: #2b2f31;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>TKX</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Students</strong></h5>
                    <ul>
                        <li><a href="#" style="color: #d2d1d1;">How it Works</a></li>
                        <li><a href="#">Learn with TKX</a></li>
                        <li><a href="#">View Businesses</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Businesses</strong><br></h5>
                    <ul>
                        <li><a href="https://genm.co/business">Access talent pool</a></li>
                        <li><a href="#">Trust &amp; safety</a></li>
                        <li><a href="#">Smart Marketing</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Programs</h5>
                    <ul>
                        <li><a href="#">Social Media Marketing</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Front End Development</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>