<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/assets/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: 80px;">
        <div class="container"><img src="static/assets/img/TKX%20Logo.png" style="width: 104px;"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <!--
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="font-family: Roboto, sans-serif;">Match</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html" style="font-family: Roboto, sans-serif;">Training</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html" style="font-family: Roboto, sans-serif;">Get Help</a></li>
                    <li class="nav-item" role="presentation">
                        <li class="nav-item dropdown" style="margin-top: 5px;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="margin-top: 0px;font-family: Roboto, sans-serif;font-size: 15px;margin-left: 0px;">JAMES SMITH&nbsp;</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Profile</a><a class="dropdown-item" role="presentation" href="#">Settings</a><a class="dropdown-item" role="presentation" href="#">Tell Friends</a><a class="dropdown-item"
                                    role="presentation" href="#" style="color: rgb(59,156,248);">Log Out</a></div>
                        </li>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <div class="row" style="margin-bottom: 160px;margin-top: 80px;">
            <div class="col"></div>
            <div class="col">
                <div class="container">
                    <div class="row" style="width: 880px;margin-right: 0px;margin-left: 0px;">
                        <div class="col-xl-6">
                            <section style="margin-bottom: 40px;">
                                <h1 style="margin-left: 0;margin-top: 0;font-size: 34px;">Find a world-class mentor</h1>
                                <h1 style="font-size: 34px;">Don't pay until you're hired</h1>
                            </section>
                            <p style="font-size: 20px;color: #8c8994;">Work on a project with a professional data scientist. Prepare for interviews, polish your resume, and get hired.<br><br></p>
                            <div class="row">
                                <div class="col-xl-5 text-center"><a href="{{url_for('login')}}"><button class="btn btn-primary"  type="button" style="font-size: 18px;">Find a mentor</button></a></div>
                                <div class="col-xl-2 text-center my-auto">
                                    <p style="font-size: 18px;margin-bottom: 0px;">or</p>
                                </div>
                                <div class="col-xl-5 text-center"><a href="{{url_for('Blogin')}}"><button class="btn btn-outline-primary"  type="button" style="font-size: 18px;">Find a mentee</button></a></div>
                            </div>
                        </div>
                        <div class="col-xl-6 text-center"><img src="static/assets/img/splash.png" style="width: 448px;"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" style="margin-bottom: 160px;">
            <div class="col"></div>
            <div class="col">
                <div class="container">
                    <div class="row" style="width: 880px;margin-right: 0px;margin-left: 0px;">
                        <div class="col-xl-6">
                            <section style="margin-bottom: 40px;">
                                <h1 style="margin-left: 0;margin-top: 0;font-size: 34px;">Learn skills that matter</h1>
                            </section>
                            <p style="font-size: 20px;color: #8c8994;">Master in-demand skills that employers want. High quality lesson plans created exculsively for TKX by industry experts.<br><br></p>
                            <div class="row">
                                <div class="col">
                                    <p style="color: rgb(3,156,255);">Start learning today</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 text-center"><img class="demo" src="static/assets/img/programs%20-%20Copy.png" style="width: 450px;"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" style="margin-bottom: 160px;">
            <div class="col"></div>
            <div class="col">
                <div class="container">
                    <div class="row" style="width: 880px;margin-right: 0px;margin-left: 0px;">
                        <div class="col-xl-6">
                            <section style="margin-bottom: 40px;">
                                <h1 style="margin-left: 0;margin-top: 0;font-size: 34px;">Get hired by the best<br></h1>
                            </section>
                            <p style="font-size: 20px;color: #8c8994;">TKX alumni have worked with world-class companies including Microsoft, Layer 6, &nbsp;and Index Exchange. 90% of our graduates are hired within 6 months.&nbsp;<br><br></p>
                            <div class="row">
                                <div class="col">
                                    <p style="color: rgb(3,156,255);">See the FAQ to view our company partnerships</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 text-center"><img class="demo" src="static/assets/img/market%20-%20Copy.png" style="width: 450px;"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" style="margin-bottom: 160px;">
            <div class="col"></div>
            <div class="col">
                <div class="container">
                    <div class="row" style="width: 880px;margin-right: 0px;margin-left: 0px;">
                        <div class="col-xl-6">
                            <section style="margin-bottom: 40px;">
                                <h1 style="margin-left: 0;margin-top: 0;font-size: 34px;">Personalized learning<br></h1>
                            </section>
                            <p style="font-size: 20px;color: #8c8994;">Our mentors work with you 1 on 1 to give you high quality personalized learnings. All of our mentors have extensive training, and are MENSA certified.<br><br></p>
                            <div class="row">
                                <div class="col">
                                    <p style="color: rgb(3,156,255);">Personalized learning is 100% free</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 text-center"><img class="demo" src="static/assets/img/profile%20-%20Copy.png" style="width: 450px;"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </main>
    <footer class="page-footer dark" style="background-color: #2b2f31;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>TKX</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Students</strong></h5>
                    <ul>
                        <li><a href="#" style="color: #d2d1d1;">How it Works</a></li>
                        <li><a href="#">Learn with TKX</a></li>
                        <li><a href="#">View Businesses</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5><strong>Businesses</strong><br></h5>
                    <ul>
                        <li><a href="https://genm.co/business">Access talent pool</a></li>
                        <li><a href="#">Trust &amp; safety</a></li>
                        <li><a href="#">Smart Marketing</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Programs</h5>
                    <ul>
                        <li><a href="#">Social Media Marketing</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Front End Development</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>